.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 0px;
}

.title {
  font-family: Avenir Next-Bold, Avenir Next;
  font-size: 3rem;
  leading-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #0f9949;
}

.caption {
  width: 70%;
  font-family: Avenir Next-Bold, Avenir Next;
  text-align: center;
}
.container {
  background-color: white;
  padding: 100px 360px;
  overflow: hidden;
}

.skillCardWrapper {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}
